# Ignore artifacts
node_modules/
dist/
dist.zip
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Ignore sensitive files
.env
id_rsa
token.json

# Ignore intermediate
.DS_Store
tsconfig.tsbuildinfo

# Ignore temp files
tmp/
